{% extends "base.html" %}
{% block content %}
<div class="container">
<h1>Karnataka Police History</h1>
<p>&nbsp;</p>
<div style="float: left; margin-right: 20px; margin-bottom: 10px;"><img class="imgborder" src="http://police.rajasthan.gov.in/Rajpolice/images/history.jpg" width="233" height="160" /></div>
<div>
<p id="ContentPlaceHolder1_p_History" style="text-align: justify; line-height: 1.5em;">The Karnataka Police is the law enforcement agency for the state of Karnataka in India. The Karnataka Police has its headquarters in Bangaluru, the state capital.</p>
<p style="text-align: justify; line-height: 1.5em;">&nbsp;</p>
<div id="details">
<div id="tbg" class="block">
<div class="top">
<div class="content">

</div>
</div>
</div>
</div>
</div>
</div>
<div class="container">
<div>
<h1>DGP'S Message</h1>
<br />
<table style="padding-bottom: 16px; padding-left: 10px; height: 400px;" width="1100" cellspacing="0px" cellpadding="0px">
<tbody>
<tr>
<td style="width: 159.817px;" align="left" valign="top"><img id="ContentPlaceHolder1_img_Dgp" style="color: black; height: 200px; width: 150px;" src="http://police.rajasthan.gov.in/images/Dgp/SHRI%20OM%20PRAKASH%20GALHOTRA1532.jpg" /></td>
<td style="padding-left: 10px; text-align: justify; line-height: 15px; width: 810.483px;" valign="top">
<p style="font-size: 14px; padding-bottom: 10px;">Friends,</p>
<p style="padding-right: 20px; line-height: 17.5pt;"><span style="margin-left: 45px; font-size: 14px;">Welcome to the website of Karnataka Police. Initially this website launched with a view to provide more information and easier updation. It shall be our endeavor to keep updating information about our organization through this website, to make it more user friendly. It is our persistent effort to make this a means to improve transparency in our working and make Karnataka Police more responsive and people friendly. I hope you will find this website useful. Please share your valuable opinion to enable us to improve further.</span></p>
<div style="float: right;">
<table>
<tbody>
<tr>
<td><br />
<p style="padding-left: 8px; font-size: 14px; font-weight: 500;">Yours Sincerely,</p>
<p style="padding-left: 8px; font-size: 14px; font-weight: 500;">&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p><strong>(<span id="ContentPlaceHolder1_lbl_name" style="text-transform: uppercase;"> OM PRAKASH GALHOTRA</span>, IPS)</strong></p>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>

{% endblock %}